# Auto detect text files and perform LF normalization
* text=auto
*.csv filter=lfs diff=lfs merge=lfs -text

m1507656/df_31k.json filter=lfs diff=lfs merge=lfs -text
m1507656/df_5k.json filter=lfs diff=lfs merge=lfs -text
m1507656/df_62k.json filter=lfs diff=lfs merge=lfs -text
